.App {
display: flex;

text-align: center;
  justify-content: center;
  align-items: center;
}

.form{
  display: flex;
  flex-direction: column;
  margin-top:50px
}
.input_text input{
  width:250px
}